nav {
    background-color: #333;
    padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

li a:hover {
    background-color: #111;
}

/* Estilo para el enlace activo */
li.active a {
    background-color: #555; /* Un fondo ligeramente diferente */
    color: #fff; /* Asegurar el color del texto */
    font-weight: bold;
    border-radius: 5px; /* Un poco de redondeo */
}